*, *::after, *::before {
    box-sizing: border-box; /* Reset básico inicial */
}

img {
     max-width: 100%; /* Deixa todas as imagens responsivas */
}
html {
    font-size: 14px;
}
body, h1, h2, h3, p, figure {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
a {
    text-decoration: none; /* Elimina o undeline*/

}
h1, nav {
    text-transform: uppercase; /* Deixa em letras maisculas */
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size: 1.5rem; /* 14px (Declarado acima) * 1,5 = 26px*/
}

h1 a {
    color: white;
    background-color: black;
    padding: 0.3rem 1rem; /* Relativo a 14px (font-size declarado acima) */
    border-radius: 5px;
}
header {
    background-color: #fff;
    position: sticky;
    top: 0;
}

header .limitador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Centraliza na vertical */
}

.limitador {
    max-width: 1100px;
    width: 95vw;
    margin: auto; /* Centraliza na horizontal */
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;  /* Deixa desligado o menu (no mobile) */
}
nav {
    width: 65%;

}

nav h2 {
    text-align: right;
}

.icone {
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;
    height: 50px;
}

h2 a {
    color: black;

}

.menu a {
    color: black;
    font-weight: bold;
    background-color: #fff;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.menu a:hover, .menu a:active {
    background-color: gainsboro;
}

/* Esta classe será manipulada via JS */
.menu-aberto {
    display: block;
    position: absolute;
    right: 0;
    left: 0;

}

/* Section com a classe destaque */
.destaque {
    background-image: url(../imagens/fundo-destaque.jpg);
    height: 90vh;
    color: white;
    background-size: cover; /* Permite que a imagem cubra toda a tela Ex_4K */
    background-attachment: fixed; /* Cria o efeito paralaxe */
    text-align: center; /* Texto alinhado ao meio */

    display: flex; /* Sem ele aqui não funciona as linhas abaixo */
    justify-content: center; /* Centraliza o conteudo horizontalmente */
    align-items: center; /* Centraliza o conteudo verticalmente */

}

.destaque h2 {
    /* clamp(MIN, IDEAL, MAX) */
    font-size: clamp(2rem, 8vw, 7rem); /* Deixa o texto responsivo */
    animation-name: fadeIn; /* Cria a animação */
    animation-duration: 1.5s; /* Duração da animação */
}
.destaque p {
    /* clamp(MIN, IDEAL, MAX) */
    font-size: clamp(1.6rem, 2vw, 4rem); /* Deixa o texto responsivo */
    animation: fadeIn 1.5s 1s backwards; /* Delay da animação */
}
@keyframes fadeIn {
    from {opacity: 0;}
    to{ opacity: 1;}
}

.front-end, .localizacao {
    text-align: center;
    
}
section h2 {
    text-align: center;
    padding: 1rem;
}

section p {
    padding: 0.5rem 0;
}
figure {
    text-align: center;
    margin: 1rem 0;
}

.historia {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding-bottom: 1rem;

}
.historia h2 {
    color: #fff;
    text-shadow: #000 1px 1px 2px;
}
iframe {
    width: 100%;
    border: none;
}
.historia iframe {
    /* Colocado aqui porque eu quero isso somente no vídeo, não no mapa */
    max-width: 800px;
}

footer {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    text-align: center;
    height: 14vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* _________________________________________________________________ */
/* Media queries */

@media screen and (min-width: 600px) {
    .icone {display: none;}

    .menu {display: flex;
    justify-content: space-between;
    padding: 1rem;
    }

    .menu a { 
        padding: 0 1rem;
    }
    
}

@media screen and (min-width: 800px) {
    html {
        font-size: 18px;
    }
    header .limitador {
        height: 15vh;
    }
    .destaque {
        height: 85vh;
    }

}
/* Formatando Páginas internas */
.conteudo {
    background-color: whitesmoke;
    padding: 0.7rem;
    border-radius: 7px;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse; /* junta as bordas */

}
table {
    width: 80%;
    margin: auto;
    max-width: 700px;
}
th {
    background-color: #000;
    color: #fff;
}
td {
    background-color: #fff;
}
th, td {
    width: 33%;
    padding: 0.5rem;
}
/* td:first-child (Tambem funcionaria)*/
td:nth-child(1) {
    text-transform: uppercase;
}
td:nth-child(2) {
    text-align: center;
}
/* td:last-child (Tambem funcionaria)*/
td:nth-child(3) {
    color: blue;
}

caption { /* Palavra acima da tabela */
    font-weight: bold;
    font-size: 1.2rem;
}

/* Formatando o formulário */
form {
    max-width: 500px;
    width: 95%;
    margin: auto;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 10px;
}

/* Seletor: not() 
Usado para criar execeções. No exemplo abaixo, vamos formatar todos os inputs, exceto, radio e checkbox */

input:not([type="radio"]):not([type="checkbox"]), select, textarea {
    width: 100%;
    height: 40px;
    border: none;
    padding: 2%;
    box-shadow: rgb(82, 76, 76) 0 0 1px inset;
}
textarea {
    height: auto;
}
button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 1rem;
    font-weight: bold;
    margin-top: .2rem;
}
button:hover, button:focus {
    background-color: darkblue;
    cursor: pointer;
}
form div {
    margin-top: 1rem;
}
